.main-landing {
  padding: 4rem 0 0;
}

.main-landing h2,
.main-landing h4,
.main-landing h6 {
  font-weight: 600;
}

.main-landing p {
  color: #4a5565;
}

.main-landing section {
  padding: 6.5rem 0;
}

.hero {
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, #fff, #f0f7ff);
}

.hero .container {
  display: flex;
  place-content: center;
  place-items: center;
}

.hero-left {
  margin: auto 0;
}

.teams-avatar {
  display: flex;
  place-items: center;
  gap: 1rem;
}

.hero-right img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.hero-left,
.hero-right {
  flex-basis: 600px;
}

.grid-cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.feature-card {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 0.625rem;
  padding: 1.5rem;
  border-width: 2px !important;
  border-radius: 10px !important;
}

.feature-card svg {
  font-size: 40px;
}

.how-it-works {
  background: #f0f7ff;
}

.grid-steps {
  display: grid;
  place-items: center;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.step-card {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 0.625rem;
  max-width: 320px;
}

.step-card > div {
  width: 4rem;
  height: 4rem;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 50%;
  background: #dbeafe;
}

.step-card > div svg {
  font-size: 32px;
}

.how-it-works-image {
  width: 100%;
  height: 100%;
}

.banner {
  background: #1976d2;
}

.banner h4 {
  color: white;
}

.banner p {
  color: #dbeafe;
}

.banner button {
  text-transform: capitalize;
  border-radius: 8px;
  background: #fff;
  color: #1976d2;
}

footer {
  padding: 2rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .hero-left {
    text-align: center;
    place-items: center;
  }

  .hero-left p {
    max-width: 600px;
  }

  .teams-avatar {
    flex-direction: column;
  }

  .hero-left,
  .hero-right {
    flex-basis: auto;
  }
}

@media (max-width: 1024px) {
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 769px) {
  .grid-steps {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .grid-cards {
    grid-template-columns: 1fr;
  }
}
